<h1>Home Page</h1>

<a asp-controller="Home" asp-action="Login">Login Page</a>
<a asp-controller="Home" asp-action="Register">Register Page</a>
<a asp-controller="Home" asp-action="Secret">Secret Page</a>