@page
@model Auth04_RazorPages.Pages.IndexModel
@{
}


<style type="text/css">
    
</style>

<h1>This is index page.</h1>

<ul>
    <li><a asp-page="/login">Login</a></li>
    <li><a asp-page="/logout">Logout</a></li>
    <li>------------------------------------------------</li>
    <li><a asp-page="/protected/anony">Anonymous</a></li>
    <li><a asp-page="/secured">Secured Page</a></li>
    <li><a asp-page="/protected/index">Protected Page</a></li>
</ul>